/* змінні */

:root {
    --paragraph-primary-color: #434455;
    --title-primary-color: #2e2f42;
  
    --background-primary-color: #84A178;
    --nav-link-color: #131313;
    --contacts-link-color: #434455;
    --link-hover-color: #4d5ae5;
    --byn-background-color: #f4f4fd;
  }

  
/* скидаємо верхні і нижні зовнішні відступи */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

  ul {
  margin: 0;
  padding: 0;
}  

img {
  display: block;
}
body {
    background-color: var(--background-primary-color);
    color: var(--nav-link-color);
    font-family: 'Roboto';
  }

  ul {
    list-style: none;
  }
  .no-decoration {
    text-decoration: none;
  }
  .link-no-decoration {
    text-decoration: none;
  } 
  .nav-link-no-decoration {
    text-decoration: none;
  }

  .container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;

  }

  @media screen and (min-width: 480px) {
.container {
    width: 440px;
    margin-right: auto;
    margin-left: auto;
      }
    }

    @media screen and (min-width: 768px) {
        .container {
            width: 700px;
            padding-left: 32px;
            padding-right: 32px;
              }
            }

            @media screen and (min-width: 1200px) {
                .container {
                    width: 1200px;
                    padding-left: 16px;
                    padding-right: 16px;
                      }
                    }
@media screen and (max-width: 768px) {
  .batton_logo_header {
    display: none;
}


}
                    @media screen and (max-width: 1200px) {
                        .nav-list {
                            display: none;
                        }
                        
                    }




                    .logo_picture {
                      width: 40px;
                      height: 37px;
                  }
                  .heder_conteiner_logo {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                  }
                    .peage_header {
                      padding-top: 12px;
                      padding-bottom: 50px;
                    }
                    .mobile-menu-open {
                      background-color: transparent;
                      border: none;
                      text-align: center;
                      padding: 0;
                      line-height: 0;
                    }
                    .mobile_menu {
                      position: fixed;
                      width: 100%;
                      height: 100%;
                      background-color: var(--background-primary-color);
                      top: 0;
                      left: 0;
                      z-index: 1000;

                      opacity: 0;
                      visibility: hidden;
                      pointer-events: none;

                      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
                    }

                    .mobile_menu.is-open{
                      opacity: 1;
                      visibility: visible;
                      pointer-events: auto;

                    }
                    .mobile_menu-clous {
                        
                      background-color: transparent;
                      border: none;
                      text-align: center;
                      padding: 0;
                      line-height: 0;
                    }
.heder_conteiner_logo {
  margin-top: 20px;
  margin-bottom: 51px;
}

.nav-item_modal {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px;
align-items: center;
text-align: center;

}
.nav-link {
  color:#f4f4fd
}
.nav-item_modal:not(:last-child) {
margin-bottom: 32px;
}

.iogo_btn_header {

  width: 152px;
  height: 42px;
  left: 0px;
  top: 0px;
  
  background: #F8D24E;
  border-radius: 10px;
}
.iogo_btn_header:hover {
background-color: #0A8817;
color: #f4f4fd;
}
.nav-list_menu {
  text-align: center;
  margin-top: 110px;
}

.nav-link:hover {
  color: #F8D24E;
}
.nav-link:focus {
  color: #0A8817
}


@media screen and (min-width: 768px) {
  .heder_conteiner_logo {
    justify-content: space-between;
    align-items: flex-end;

  }
  .conteiner_logo-bnt {
    align-items: center;
  padding-bottom: 3px;
  display: flex;
}
.nav-рeader {
  display: flex;
    }
    .mobile-menu-open{
      margin-bottom: 3px;
      display: flex;
    }
    .iogo_grup-btn {
      display: flex;
    }
    .iogo_btn_header {
      margin-left: 32px;
    }
  .logo-momile {
    display: none;
  }
  .nav-link {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
font-family: 'Montserrat';
font-style: normal;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-menu-open {
    display: none;
    }
    .heder_conteiner_logo {
      justify-content: space-between;
      align-items: flex-end;

    }
    .logo_picture {
      width: 60px;
      height: 65px;
    }
    .conteiner_logo-bnt {
      align-items: center;
    padding-bottom: 3px;
    display: flex;
    margin-left: 306px;
    }
    .nav-list {
      margin-right: 203px;
      display: flex;
    }
    .nav-item:not(:last-child) {
      margin-right: 28px;
      
    }
    .nav-рeader {
      display: flex;
        }
        .nav-link {
          font-weight: 700;
font-size: 16px;
line-height: 20px;
        }
  }

  /***************************************** Bae-now ************************************/
  .bae-now {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #f4f4fd;
    border: 2px solid #F8D24E;
    border-radius: 10px;
    visibility: hidden;
opacity: 0;
  }

  .bae-now.is-hidden-prod {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

  }